# Environment Configuration
NODE_ENV=production

# Email Configuration (Mailjet)
MJ_API_KEY=b5f26afa422abb05c1c0c84cfc0882b7
MJ_API_SECRET=84b0f9bb3d4114799405a40c5a1816e7
CONTACT_EMAIL=contact@vsptech.in
FROM_EMAIL=contact@vsptech.in
